<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title> CyberSecurity </title>
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Welcome to Jake's Cybersecurity Site!</h1>
        <p>Click on a link to learn about it:</p>
        <a href="/history"> History </a> <br>
        <a href="/networking"> Networking </a> <br>
        <a href="/security"> Security </a> <br>
        <a href="/future"> Future </a> <br>
        