<!--All ejs tags go within the <% %> tags below -->
<% include partials/header.ejs %>


    <h1>The Future of Cybersecurity!</h1>
    
    <img src="/img/cybersecurity3.jpeg" width=50%/>
    
    <p>
    61% of enterprises say they cannot detect breach attempts today without the use of AI technologies.
    48% say their budgets for AI in cybersecurity will increase by an average of 29% in Fiscal Year (FY) 2020.
    Breach attempts are proliferating with Cisco reporting that in 2018, they blocked seven trillion threats on behalf of their customers.
    These and many other insights are from Capgemini’s Reinventing Cybersecurity with Artificial Intelligence Report published this week. You can download the report here (28 pp., PDF, free, no opt-in). Capgemini Research Institute surveyed 850 senior executives from seven industries, including consumer products, retail, banking, insurance, automotive, utilities, and telecom. 20% of the executive respondents are CIOs, and 10% are CISOs. Enterprises headquartered in France, Germany, the UK, the US, Australia, the Netherlands, India, Italy, Spain, and Sweden are included in the report. Please see page 21 of the report for a description of the methodology.
    Capgemini found that as digital businesses grow, their risk of cyberattacks exponentially increases. 21% said their organization experienced a cybersecurity breach leading to unauthorized access in 2018. Enterprises are paying a heavy price for cybersecurity breaches: 20% report losses of more than $50 million. Centrify’s most recent survey, Privileged Access Management in the Modern Threatscape, found that 74% of all breaches involved access to a privileged account. Privileged access credentials are hackers’ most popular technique for initiating a breach to exfiltrate valuable data from enterprise systems and sell it on the Dark Web.
    Key insights include the following:
    69% of enterprises believe AI will be necessary to respond to cyberattacks. The majority of telecom companies 
    (80%) say they are counting on AI to help identify threats and thwart attacks. Capgemini found the telecom industry has the highest reported incidence of losses exceeding $50M, making AI a priority for thwarting costly breaches in that industry. It’s understandable by Consumer Products 
    (78%), and Banking (75%) are 2nd and 3rd given each of these industry’s growing reliance on digitally-based business models. U.S.-based enterprises are placing the highest priority on AI-based cybersecurity applications and platforms, 15% higher than the global average when measured on a country basis.</p>
<% include partials/footer.ejs %>
</body>
</html>