<!--All ejs tags go within the <% %> tags below -->
<% include partials/header.ejs %>


    <h1>Networking & Cybersecurity!</h1>
    
    <img src="/img/cybersecurity1.png" width=50%/>
    
    <p>Definitions are fine as top-level statements of intent. But how do you lay out a plan for implementing that vision? Stephen Northcutt wrote a primer on the basics of network security for CSOonline over a decade ago, but we feel strongly that his vision of the three phases of network security is still relevant and should be the underlying framework for your strategy. In his telling, network security consists of:

    Protection: You should configure your systems and networks as correctly as possible
    Detection: You must be able to identify when the configuration has changed or when some network traffic indicates a problem
    Reaction: After identifying problems quickly, you must respond to them and return to a safe state as rapidly as possible
    
    This, in short, is a defense in depth strategy. If there's one common theme among security experts, it's that relying on one single line of defense is dangerous, because any single defensive tool can be defeated by a determined adversary. Your network isn't a line or a point: it's a territory, and even if an attacker has invaded part of it, you still have the resources to regroup and expel them, if you've organized your defense properly.
</p>
<% include partials/footer.ejs %>
</body>
</html>